@model ChatMe.Models.User

@{
    ViewData["Title"] = "Login";
}
<div class="container-fluid">
    
    <div class="row align-items-center justify-content-center loginRow">

        <div class="col-md-4 loginBadge">
            <div class="loginBadgeContent">
                <div class="loginBadgeLogo">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ChatMe</a>
                </div>
                @if (ViewBag.failed)
                {
                    <div class="alert error">
                        Nieprawidłowy login lub hasło!
                    </div>
                }
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            <label asp-for="username" class="control-label"></label>
                        </div>
                            <input asp-for="username" class="form-control" />
                            <span asp-validation-for="username" class="text-danger"></span>
                            </div>
                        
                    <div class="form-group">
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <label asp-for="password" class="control-label">hasło</label>
                        </div>
                        <input asp-for="password" type="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                        <div class="form-group buttons-form-group">
                            <input type="submit" value="Zaloguj" class="btn chatmeButton " />
                            <a href="#">Zarejestruj</a>
                        </div>
</form>
            </div>
        </div>
    </div>
</div>


<footer class="footer text-muted">
    <div class="container">
        &copy; 2023 - ChatMe - <a href="https://scooon.pl">Scooon</a>
    </div>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
