@model ChatMe.Models.User

@{
    ViewData["Title"] = "Login";
}

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ChatMe</a>

<hr />
<div class="row">

    <div class="col-md-4">
        @if (ViewBag.failed)
        {
            <div class="alert error">
                Incorrect login or password!
            </div>
        }
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - ChatMe - <a asp-area="" asp-controller="Messages" asp-action="Index">Messages</a>
    </div>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
