@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');


/* Top Bar */

.navbar {
    background-color: rgb(35,35,35);
    color: rgb(240,240,240);
}

#showSearch{
    color: rgb(90,90,90);
}

#showSearch:hover{
    color: rgb(240,240,240);
}

#showSearch i{
    margin: 0;
}

/* End of Top Bar */

/* Messages List */
#messagesList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

    #messagesList li {
        margin: 4px 0;
    }



.someoneLi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.someoneItem {
    align-self: flex-start;
    display: flex;
    margin: 7px 7px 5px 0px;
}

.myLi {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.myItem {
    align-self: flex-end;
    display: flex;
    margin: 7px 7px 5px 0px;
}

.message-bubble {
    float: left;
    display: inline-block;
    position: relative;
    background-color: rgba(0,255,200,1);
    padding: 10px 15px;
    border-radius: 0.25rem;
    background-color: rgba(255,255,255,0.95);
    max-width: 70%;
    /*min-width: 5%;*/
}

    .message-bubble:hover > .message-bubble-details {
        visibility: visible;
    }

    .message-bubble .message-bubble-details {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        top: 0px;
        left: 115%;
        z-index: 1;
    }

.my-message .message-bubble-details {
    right: 115%;
    left: -130px;
}

.message-bubble-avatar {
    position: relative;
    display: inline-block;
    width: 27px;
    min-width: 27px;
    line-height: 23px;
    border-radius: 50%;
    height: 27px;
    font-size: 12px;
    background: rgba(60,60,60,0.4);
    color: rgba(0,255,200,1);
    text-align: center;
    border: 2px solid rgba(0,255,200,1);
    -webkit-box-shadow: 0px 1px 6px 1px rgb(80 80 80 / 80%);
    -moz-box-shadow: 0px 1px 6px 1px rgba(80, 80, 80, 0.8);
    box-shadow: 0px 1px 6px 1px rgb(80 80 80 / 80%);
    text-transform: uppercase;
    margin: 7px 0px 7px 0px;
}

.message-bubble-author {
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
}

.message-bubble-content {
    text-align: justify;
}

.message-bubble-createdTime {
    font-size: 0.7em;
    color: rgba(150,150,150,1);
    text-align: center;
    margin-top: 3px;
}

.message-bubble-readedTime {
    font-size: 0.7em;
    color: rgba(150,150,150,1);
    text-align: center;
    line-height: 1.5em;
}

.my-message {
    float: right;
    background-color: rgba(0,255,200,1);
}

#sendButton {
    border-radius: 0 1.5em 1.5em 0;
    border: 0px;
    background-color: rgb(60,60,60);
}
button#sendButton:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

    .sendButtonActive {
        color: rgba(0,255,200,1);
    }

.messageInputBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageNotEmpty {
    color: rgba(0,255,200,1);
}

#messageInput {
    border-radius: 1.5em 0 0 1.5em;
    border-width: 0;
    background-color: rgb(60,60,60);
    color: rgba(255,255,255,0.7);
    padding-left: 18px;
}

input#messageInput:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}



/* Conversations */
#conversationWindow {
    padding-left: 0;
}

#chatsList {
    padding-left: 0;
}

    #chatsList a {
        text-decoration: none;
    }

.conversationItem {
    display: flex;
    height: 85px;
    list-style-type: none;
    color: rgba(0,255,200,1);
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition-duration: 0.2s;
    border-bottom: 2px solid rgb(40,40,40);
}

    .conversationItem:hover {
        background-color: rgba(55,55,55, 0.8);
    }



.avatar {
    position: relative;
    width: 55px;
    min-width: 55px;
    /*line-height: 50px;*/
    border-radius: 50%;
    height: 55px;
    background: rgba(60,60,60,0.4);
    padding: 10px;
    text-align: center;
    margin: auto 12px;
    border: 3px solid rgba(200,200,200,1);
    -webkit-box-shadow: 0px 1px 6px 1px rgba(80, 80, 80, 0.8);
    -moz-box-shadow: 0px 1px 6px 1px rgba(80, 80, 80, 0.8);
    box-shadow: 0px 1px 6px 1px rgba(80, 80, 80, 0.8);
}

.conversationItem:hover > .avatar {
    -webkit-box-shadow: 0px 1px 12px 2px rgba(80, 80, 80, 0.8);
    -moz-box-shadow: 0px 1px 12px 2px rgba(80, 80, 80, 0.8);
    box-shadow: 0px 1px 12px 2px rgba(80, 80, 80, 0.8);
}


.avatar span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: rgba(200,200,200,1);
    text-shadow: 0px 1px 6px rgba(80, 80, 80, 0.8);
}

.conversationItem:hover > .avatar span {
    text-shadow: 0px 2px 6px rgba(80, 80, 80, 0.8);
}

.conversationItem {
    text-shadow: 0px 1px 6px rgba(80, 80, 80, 0.8);
}

    .conversationItem:hover {
        text-shadow: 0px 2px 6px rgba(80, 80, 80, 0.8);
    }

.conversationData {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    margin: 1em 0;
}

.conversationName {
    font-size: 15px;
    font-weight: 700;
    color: rgba(200,200,200,1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.conversationLastMessage {
    color: rgba(200,200,200,1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.conversationTime {
    font-weight: 500;
    color: rgba(180,180,180,0.8);
    text-overflow: ellipsis;
    font-size: 0.65rem;
}

.messageUnreaded {
    font-weight: 700;
    color: rgba(0,255,200,1);
}

.unreadedAvatar {
    /*background: linear-gradient(0deg, rgba(0,255,200,0.5) 0%, rgba(60,60,60,0.4) 50%, rgba(60,60,60,0.4) 100%);*/
    border: 3px solid rgba(0,255,200,1);
}

.message-bubble-readed {
    position: relative;
    display: inline-block;
    width: 27px;
    min-width: 27px;
    line-height: 23px;
    border-radius: 50%;
    height: 27px;
    font-size: 12px;
    background: rgba(60,60,60,0.4);
    color: rgba(0,255,200,1);
    text-align: center;
    border: 2px solid rgba(0,255,200,1);
    -webkit-box-shadow: 0px 1px 6px 1px rgb(80 80 80 / 80%);
    -moz-box-shadow: 0px 1px 6px 1px rgba(80, 80, 80, 0.8);
    box-shadow: 0px 1px 6px 1px rgb(80 80 80 / 80%);
    text-transform: uppercase;
}

    .message-bubble-readed:hover > .message-bubble-readed-details {
        visibility: visible;
    }

    .message-bubble-readed:hover > .mymessage-bubble-readed-details {
        visibility: visible;
    }

    .message-bubble-readed .message-bubble-readed-details {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        left: 35px;
        right: 115%;
    }

    .message-bubble-readed .mymessage-bubble-readed-details {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        left: -130px;
        right: 115%;
    }


/* -- Search View -- */
#searchView {
    z-index: 999;
    position: absolute;
    background-color: rgba(30,30,30,0.75);
    width: 100%;
    top: 0;
    height: 100vh;
    display: none;
    backdrop-filter: blur(2px) brightness(50%) grayscale(80%);
}

#searchViewContent {
    width: 60%;
    min-height: 80vh;
    margin: 2% auto;
    background-color: rgba(30,30,30,1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

#closeSearchBar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#closeSearch {
    outline: none;
    border: 0px solid #fff;
    margin: 0.8em;
}
    #closeSearch:hover {
        background-color: transparent;
    }
    #closeSearch i {
        font-size: 1.3em;
    }

#userSearchInput, #NavUserSearchInput {
    border-radius: 1.5em 0 0 1.5em;
    border-width: 0;
    background-color: rgb(60,60,60);
    color: rgba(255,255,255,0.7);
    margin-left: 2em;
    padding: 1.4em;
}

input#userSearchInput:focus, input#NavUserSearchInput:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.searchInputGroup i {
    height: 100%;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    margin: 0 0.5em;
}

.searchInputAppend {
    border-radius: 0 1.5em 1.5em 0;
    border-width: 0;
    background-color: rgb(60,60,60);
    color: rgba(255,255,255,0.2);
    margin-right: 2em;
    padding-right: 0.5em;
}

.searchListDropdown {
    margin: 0 2em;
    background-color: rgba(40,40,40,1);
    border-radius: 10px;
    margin-top: 0.4em;
}

#searchList {
    list-style-type: none;
    padding: 0.3em 0.2em;
    margin: 0;
}

    #searchList li {
        background-color: rgba(60,60,60,1);
        color: rgb(190,190,190);
        margin: 0 2px 0.4em 2px;
        border-radius: 6px;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        cursor: pointer;
        transition: 0.3s;
    }

    #searchList li:hover{
        background-color: rgb(70, 70, 70);
    }

        #searchList li:hover > .avatar {
            border: 3px solid rgba(0,255,200,0.8);
        }

.searchListItemDisplayName {
    color: rgb(220,220,220);
    font-weight: 700;
}

.searchListItemUserName {
    color: rgba(0,255,200,0.8);
    font-weight: 500;
}

.searchListItemEmail {
    color: rgb(130,130,130);
    font-size: 0.8rem;
    line-height: 2;
}

.searchItemData {
    margin: 0 0.4em;
}