/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Layout */
#appWindow {
 
}

.appRow{
    margin:0;
}

#chatWindow{
    overflow: auto;
}

header, .navbar{
    height: 90px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    background-color: rgb(30,30,30);
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    /*min-height: 100%;*/
    height: 100vh;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    height: 100%;
    background-color: rgb(45,45,45);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom navbar */
.nav-container {
    width: 100%;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.nav-user {
    position: relative;
    z-index: 2;
    display: flex;
    color: rgba(200,200,200,1);
    justify-content: center;
    align-items: center;
    background-color: rgb(40,40,40);
    padding: 0.65rem 1rem;
    border-radius: 10px;
    transition: all 0.3s;
}

    .nav-user:hover {
        background-color: rgb(45,45,45);
        box-shadow: 0px 0px 5px 3px rgba(0,255,200,0.95);
    }



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    pointer-events: auto;
    padding: 8% 20px;
    margin: -2% auto;
    border-radius: 0 0 5px 5px;
    background-color: rgb(60,60,60);
    transition: all 0.3s;
}
   
.dropdown-content-wrapper{
    display:flex;
    flex-direction:column;
    text-align:justify;
}

.dropdown-content-wrapper h6{
    font-size: 0.8em;
    font-weight:700;
}

    .dropdown-content-wrapper p {
        font-size: 0.7em;
        color: rgba(200,200,200,0.7);
        max-height: 5em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .nav-user-container {
    position: relative;
}

    .nav-user-container:hover > .nav-user {
        background-color: rgb(45,45,45);
        box-shadow: 0px 0px 5px 3px rgba(0,255,200,0.95);
    }

.nav-user-container:hover .dropdown-content {
    display: block;
}



.nav-user-avatar {
    margin: auto 12px auto 0px !important;
}

.nav-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Welcome, #MyUsername {
    font-size: 0.8rem;
    /*line-height: 0.1rem;*/
    margin: 0;
    padding: 0;
}

#MyUsername {
    color: rgba(200,200,200,0.7);
    margin: 0;
    padding: 0;
}

#myDisplayName {
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
}

.userSearchInputGroup{
    width: 60% !important;
}